.menu .menu-icon {
  display: none;
}

.menu-icon {
  position: relative;
  font-size: 24px;
  padding: 0.6em 0.8em;
  margin: 12px;
  text-indent: -9999px;
  background: transparent;
  border: none;
  height: 1px;
}

.menu-icon:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #666;
  border-bottom: 0.15em solid #666;
}

@media (max-width: 480px) {
  
    .menu-horizontal {
        /* width: 100%; */
    }

    .menu-children li {
        display: block;
        border-bottom: 1px solid black;
    }

    .navbar.responsive ul {
      display: none !important;
    }
    
    .navbar.responsive .menu-icon {
      display: block !important;
    }

    .navbar.responsive ul:target {
      display: block !important;
      width: 100%;
    }

    .navbar.responsive ul:target li {
      display: block;
    }

}
