/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

/* MAIN MENU STYLING */

.menu.menu-open,
.menu.menu-horizontal li .menu-children {
    background: #fff; /* Old browsers */
    border: 1px solid #b7b7b7;
}

/* remove borders for horizontal menus */
.menu.menu-horizontal,
.menu.menu-horizontal .menu-heading {
    border: none;
}

/* LINK STYLES */

.menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
}

.menu a,
.menu .menu-can-have-children > li:after {
    color: #777;
}

.menu .menu-can-have-children > li:hover:after {
    color: #fff;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.menu .menu-open {
    background: #dedede;
}

.menu li a:hover,
.menu li a:focus {
    background: #eee;
}

/* DISABLED STATES */
.menu li.menu-disabled a:hover,
.menu li.menu-disabled a:focus {
    background: #fff;
    color: #bfbfbf;
}

.menu .menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.menu .menu-disabled > a,
.menu .menu-can-have-children.menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.menu .menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.menu .menu-selected a {
    color: #000;
}

/* FIXED MENU */
.menu.menu-open.menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}

/* dropdown
----------------------------------------------- */

li.dropdown {
  padding: 10px 20px;
}

.dropdown ul {
	z-index: 500;
	position: absolute;
	left: 0;
  top: 1.5em;
	padding-top: 3em;
	display: none;
}

.dropdown ul li {
  background: #fafafa;
}

.dropdown:hover { background: #eee }

.dropdown:hover ul { display: block; visibility: visible }
