/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

/* MAIN MENU STYLING */

.menu.menu-horizontal li .menu-children {
    background: #fff; /* Old browsers */
    border: 1px solid #b7b7b7;
}

/* remove borders for horizontal menus */
.menu.menu-horizontal,
.menu.menu-horizontal .menu-heading {
    border: none;
}

/* LINK STYLES */

.menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
}

.menu a,
.menu .menu-can-have-children > li:after {
    color: #777;
}

.menu .menu-can-have-children > li:hover:after {
    color: #fff;
}

.menu li a:hover,
.menu li a:focus {
    background: #eee;
}

/* DISABLED STATES */
.menu li.menu-disabled a:hover,
.menu li.menu-disabled a:focus {
    background: #fff;
    color: #bfbfbf;
}

.menu .menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.menu .menu-disabled > a,
.menu .menu-can-have-children.menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.menu .menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.menu .menu-selected a {
    color: #000;
}

/* navbar
-------------------------------------------------------------*/

.navbar.menu {
  margin-bottom: 20px;
  overflow: visible;
  color: #777777;
  min-height: 42px;
  border-bottom: 1px solid #eee; 
  background: #fafafa;
}

.navbar > *, 
.navbar .container > * {
  float: left;
}

.navbar-black {
  background: #1b1b1b;  
}

.navbar li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.navbar li a {
  padding: 15px 20px;
}

/* apply clearfix on navbar, since it floats everything */
.navbar:before,
.navbar:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navbar:after {
    clear: both;
}

/* tabs
----------------------------------------------- */

ul.tabs {
  border-bottom: 1px solid #b7b7b7 !important;
  padding: 0 1em;
  margin-bottom: 2em;
}

.tabs li {
  border: 1px solid #b7b7b7;
  border-bottom: 0;
}

.tabs li.active {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

/* dropdown
----------------------------------------------- */

li.dropdown {
  padding: 15px 20px;
}

.dropdown ul {
	z-index: 500;
	position: absolute;
	left: 0;
  top: 1.5em;
	padding-top: 3em;
	display: none;
}

.dropdown ul li {
  background: #fafafa;
}

.dropdown:hover { background: #eee }

.dropdown:hover ul { display: block; visibility: visible }
