/*
@-ms-viewport {
  width: device-width;
}
*/

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

input,button,select,textarea {
  font-size: 14px;
  font-family: inherit;
  line-height: inherit;
}

p { margin: 0 0 1em }

ul {
  margin: 0;
  padding: 0;
}

table {
  max-width: 100%;
  background-color: transparent;
}

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* fix for google maps */
#map_canvas img,
.google-maps img {
  max-width: none;
}

a {
  text-decoration: none;
  outline: none;
}

a { color: #0088cc }

abbr,acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
}

h1, h2, h3, h4 {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.1em;
  margin: 0;
  color: #333;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
