
@media (min-width: 980px) {

}

@media (max-width: 767px) {

  .responsive .columns > *,
  .responsive.columns > * {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0 !important;
  }

  .responsive .fixed-width,
  .responsive.fixed-width {
    width: 100%;
  }

  .responsive [class *="span"] {
    width: 100%;
  }

  .responsive [class *="offset"] {
    margin-left: 0;
  }

}

@media (min-width: 768px) and (max-width: 979px) {

  .responsive .fixed-width,
  .responsive.fixed-width {
    width: 768px;
  }

}

@media (max-width: 480px) {

/*
  .responsive [class *="span"] {
      width: 100%;
  }
*/

}
