/* containers & grids
-------------------------------------------------------------*/

.container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

.fixed-width {
  padding: 0;
  width: 960px;
}

/* columns
-------------------------------------------------------------*/

.columns > * {
  display: inline-block;
  float: left;
}

.two.columns > * {
  width: 50%;
}

.padded.two.columns > * {
  width: 48%; /* 96 + 4 */
  margin-left: 4%
}

.three.columns > * {
  width: 33.333333%;
}

.padded.three.columns > * {
  width: 31%; /* 93 + 3.5 + 3.5 */
  margin-left: 3.5%
}

.four.columns > * {
  width: 25%;
}

.padded.four.columns > * {
  width: 22.75%; /* 92 + 2 + 2 + 2 */
  margin-left: 3%
}

.five.columns > * {
  width: 20%;
}

.padded.five.columns > * {
  width: 18%; /* 90 + (2.5 x 4) */
  margin-left: 2.5%
}

.columns .first,
.columns > *:first-child {
  margin-left: 0 !important;
}

.columns:before,
.columns:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.columns:after {
  clear: both;
}

/* grid fixes
-------------------------------------------------------------*/

.grid {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.grid {
    word-spacing: -0.43em;
}

/* units
-------------------------------------------------------------*/

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.offset1,
.offset2,
.offset3,
.offset4,
.offset5,
.offset6,
.offset7,
.offset8,
.offset9,
.offset10,
.offset11 {
  position: relative;
}

/* fluid, by default */

.span1 { width: 8.33333% }
.offset1 { margin-left: 8.33333% }

.span2 { width: 16.66667% }
.offset2 { margin-left: 16.66667% }

.span3 { width: 25% }
.offset3 { margin-left: 25% }

.span4 { width: 33.33333% }
.offset4 { margin-left: 33.33333% }

.span5 { width: 41.66667% }
.offset5 { margin-left: 41.66667% }

.span6 { width: 50% }
.offset6 { margin-left: 50% }

.span7 { width: 58.33333% }
.offset7 { margin-left: 58.33333% }

.span8 { width: 66.66667% }
.offset8 { margin-left: 66.66667% }

.span9 { width: 75% }
.offset9 { margin-left: 75% }

.span10 { width: 83.33333% }
.offset10 { margin-left: 83.33333% }

.span11 { width: 91.66667% }
.offset11 { margin-left: 91.66667% }
