/* helpers
-------------------------------------------------------------*/

.fixed     { position: fixed; width: 100%; }
.left      { float: left !important; clear: left; }
.right     { float: right !important; clear: right; }
.center    { display: block; text-align: center; }
.centered  { float: none; margin-left: auto; margin-right: auto; }
.clear     { clear: both }
.visible   { display: inherit !important }
.hidden    { display: none !important }
.invisible { visibility: hidden }
.block     { display: block !important }
.inline    { display: inline-block !important; *display: inline; /*IE 6/7*/ }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.round {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* clearfix
-------------------------------------------------------------*/

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only:
 Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
