@media (min-width: 980px) {

  .visible-phone {
    display: none;
  }
  .visible-tablet {
    display: none;
  }
  .hidden-desktop {
    display: none;
  }

}

@media (max-width: 480px) {

}

@media (max-width: 767px) {

  .hidden-phone {
    display: none;
  }
  .visible-desktop {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 979px) {

  .hidden-tablet {
    display: none;
  }
  .visible-desktop {
    display: none;
  }

}
