.menu ul:focus { outline: 0 }

.menu li {
  list-style: none;
  z-index: 1;
  line-height: 20px;
  position: relative;
}

/* Initial menus should be inline-block so that they are horizontal */
.navbar .menu li,
.menu.horizontal li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

/* Submenus should still be display: block; */
.navbar .dropdown li,
.menu.horizontal .dropdown li {
  display: block;
}

.menu a,
.dropdown > span {
  display: block;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  padding: 12px 20px;
}

.menu a:hover,
.menu a:focus {
  background: #eee;
}

/* navbar
-------------------------------------------------------------*/

.navbar {
  margin-bottom: 20px;
  overflow: visible;
  color: #777777;
  min-height: 44px;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}

.navbar > *,
.navbar .container > * {
  float: left;
}

.navbar .container {
  float: none !important;
}

/* apply clearfix on navbar, since it floats everything */
.navbar:before,
.navbar:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.navbar:after {
    clear: both;
}

/* menu icon
----------------------------------------------- */

.navbar.fixed {
  top: 0;
  left: 0;
  z-index: 100;
}

/* menu icon
----------------------------------------------- */

.menu-icon {
  display: none;
  position: relative;
  font-size: 24px;
  padding: 0.6em 0.8em;
  margin: 6px;
  text-indent: -9999px;
  background: transparent;
  border: none;
  height: 1px;
}

.menu-icon:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  width: 0.9em;
  height: 0.125em;
  border-top: 0.375em double #666;
  border-bottom: 0.15em solid #666;
}

/* dropdown
----------------------------------------------- */

.dropdown ul {
	z-index: 500;
	position: absolute;
	left: 0;
  top: 2.5em;
	padding-top: 0.7em;
	display: none;
}

.dropdown li {
  background: #fafafa;
}

.dropdown:hover { background: #eee }

.dropdown:hover ul { display: block; visibility: visible }

/* black navbar
----------------------------------------------- */

.dark.navbar {
  border-color: #333;
}

.dark.navbar,
.dark .dropdown li {
  background: #1b1b1b;
}

.dark .menu a:hover,
.dark .menu a:focus,
.dark .dropdown:hover {
  background: #222;
}

.dark .menu-icon:before {
  border-color: #ccc;
}
