
@media (max-width: 480px) {

  .menu-horizontal {
    /* width: 100%; */
  }

  .menu-children li {
    display: block;
    border-bottom: 1px solid black;
  }

  .responsive .menu {
    display: none;
  }

  .responsive .menu-icon {
    display: inherit !important;
  }

  .responsive .menu:target {
    display: inherit !important;
    width: 100%;
  }

  .responsive .menu:target li {
    display: inherit;
  }

  .toggled.menu {
    width: 100%;
  }

  .toggled.menu li {
    display: block !important;
  }

}
