
@media (max-width: 480px) {

  .responsive .menu {
    display: none;
  }

  .responsive .menu-icon {
    display: inherit;
  }

  .responsive .menu:target {
    display: inherit;
    width: 100%;
  }

  .responsive .menu:target li {
    display: inherit;
  }

  .toggled.menu {
    width: 100%;
  }

  .toggled.menu li {
    display: block;
  }
  
  .responsive .dropdown:hover ul {
    display: none; /* no support for responsive submenus yet */
  }

}
