
@media (max-width: 767px) {

  .responsive.navbar .menu,
  .responsive .navbar .menu {
    display: none;
  }

  .responsive.navbar .menu:target,
  .responsive .navbar .menu:target {
    display: inherit;
    width: 100%;
  }

  .responsive .menu-icon {
    display: inherit;
  }

  .responsive .menu li {
    display: block; /* or inherit */
  }

  .visible.menu li {
    display: block;
  }

  .responsive .dropdown:hover ul {
    display: none; /* no support for responsive submenus yet */
  }

}
