/*csslint regex-selectors:false, unqualified-attributes:false*/

.grid-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.grid-r {
    word-spacing: -0.43em;
}

.grid-r img {
    max-width: 100%;
}

@media (min-width: 980px) {
    .visible-phone {
        display: none;
    }
    .visible-tablet {
        display: none;
    }
    .hidden-desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    .grid-r > .unit,
    .grid-r > [class *= "unit-"] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .grid-r > .unit,
    .grid-r > [class *= "unit-"] {
        width: 100%;
    }
    .hidden-phone {
        display: none;
    }
    .visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .hidden-tablet {
        display: none;
    }
    .visible-desktop {
        display: none;
    }
}
