/*csslint regex-selectors:false, unqualified-attributes:false*/

@media (min-width: 980px) {
  .visible-phone {
    display: none;
  }
  .visible-tablet {
    display: none;
  }
  .hidden-desktop {
    display: none;
  }
}

@media (max-width: 480px) {
/*
  .responsive [class *="unit-"] {
      width: 100%;
  }
*/
}

@media (max-width: 767px) {

  .responsive [class *="span"] {
    width: 100% !important;
  }

  .responsive [class *="push"] {
    margin-left: 0 !important;
  }

  .hidden-phone {
    display: none;
  }
  .visible-desktop {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-tablet {
    display: none;
  }
  .visible-desktop {
    display: none;
  }
}
